<h3>Equipment</h3>
<ul>
  <li *ngFor="let item of equipment">
    <span (click)="edit(item)" *ngIf="itemToEdit !== item; else elseBlock">
      {{ item }}
      <button (click)="remove(item)">Remove</button>
    </span>
  </li>
</ul>

<input #newEquipment type="text" (keyup.enter)="addEquipment(newEquipment.value)" placeholder="{{ placeholder }} " />
<button (click)="addEquipment(newEquipment.value)">Save</button>

<ng-template #elseBlock>
  <input #newEquipmentName type="text" placeholder="{{ placeholder }}"/>
  <button (click)="save(newEquipmentName.value)">Save</button>
</ng-template>
